* {
    box-sizing: border-box;
}

.topbar {
	max-width: 1216px;
	width:100%;
	height:52px;
	position:absolute;
	margin: 38px 66px;
}

.logo-name { 
	color:rgba(44.000001177191734, 149.00000631809235, 133.00000727176666, 1);
	width:123px;
	height:30px;
	position:absolute;
	left:0px;
	top:7px;
	font-family:Overpass;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}

.searchbar { 
	width:551px;
	height:50px;
	position:absolute;
	left:191px;
	top:2.842170943040401e-14px;
}

.input-1 { 
	width:550px;
	height:50px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
    border: 2px solid #DDDDDD;
    padding-left: 22px; 
}

.input-1::placeholder { 
	color: rgba(0, 0, 0, 1);
    font-family: Overpass;
    font-size: 18px;
}


.searchicon { 
	width:30px;
	height:40px;
	position:absolute;
	left:495px;
    top: 5px;
    border-radius: 100px;
    background-color:rgba(44.000001177191734, 149.00000631809235, 133.00000727176666, 1);
}

.searchicon:hover {
    border: 1px solid rgb(24, 69, 62);
    box-shadow:1cqi;
}

.searchicon > svg {
    margin-top: -7px;
    margin-left: -15px;
    fill: white;
}

.profile { 
	width:148px;
	height:50px;
	position:absolute;
	left:994px;
}

.explore { 
	color:rgba(0, 0, 0, 1);
	position:absolute;
	left:840px;
	top:7px;
	font-family:Overpass;
	font-size:18px;
	letter-spacing:0;
}

.account { 
	color:rgba(0, 0, 0, 1);
	position:absolute;
	top:7px;
	font-family:Overpass;
	font-size:18px;
	letter-spacing:0;
}

.account-img { 
	width:50px;
	height:50px;
	position:absolute;
	left:120px;
	
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
	background-image:url(src/assets/unnamed_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}



